<!doctype html>
<html>
<head>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style type="text/css">
.center{left:25%;width:50%;height:50%;top:25%;background:#f0f;position:absolute;text-align:center;}
</style>

</head>

<body>

    {% for id in ids %}
        <div id="{{id}}" class="center"></div>
    {% endfor %}

</body>

<footer>
    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};

        for(var i in graphs) {
            Plotly.plot(ids[i],
                        graphs[i].data,
                        graphs[i].layout || {});
        }

    </script>
</footer>

</html>
